
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.errorMessage{
    align-items: center;
    border : 1px solid red;
    margin: 0.5rem;
    height: 30px;
    padding: 0.5rem;
    color: rgb(243, 81, 81);
}


.fieldContainer{
    display: flex;
    justify-content: center;
    width: 99%;
    padding: 1rem 1rem 1rem 0.7rem;
    border: 1px solid #2e68b4d7;
    
    
}

.userButtonsContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    width: 95%;
    border: 1px solid #2e68b4d7;
    
}

.userButtonsContainer button{
    background-color: #fff;
    border: 2px solid rgba(18, 25, 225, 0.843);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 150px;
    height: 30px;
    font-family: 'Georgia', sans-serif;
    font-weight: 500;

}

.userButtonsContainer button:hover{
    background-color: rgba(18, 25, 225, 0.843);
    color: #fff;
}

.userInputField {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 3px solid #2e68b4d7;
    text-align: center;
    
  }

.userInputField:focus{
        outline: none;
        border: 3px solid #2e68b4d7;
        box-shadow: 0 0 10px #2ea8cad7;
        transition: all 0.5s ease;
}

.cubeAndRotationButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 95%;
    border: 1px solid #2e68b4d7;
}



  @media (max-width: 1024px){
    .userInputField{
        width: 800px;
        height: 30px;
        border-radius: 5px;
        text-align: center;
        font-size: 0.65rem;
    }

    .userButtonsContainer{
        gap: 7rem;
        width: 95%;
        border: 1px solid #2e68b4d7;
        
    }
    .userButtonsContainer button{
        width: 100px;
        height: 23px;
        font-size: 0.65rem;
    }

    .cubeAndRotationButtonsContainer{
        flex-direction: column;
        gap: 1rem;
    }

    .errorMessage{
        font-size: 12px;
    }       
}