.navbar{
    background-color: #fcfcfc;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    height: 3rem;
}

.siteTitle {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #080404;
    font-size: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add a shadow */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Georgia', sans-serif;
}

.sourceLinks{
    font-size: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration:underline;
    position: absolute;
    right: 0;
    padding-right: 20px;
    
}

.navbar :active {
    transform: scale(0.98);

}

@media (max-width: 800px){
    .siteTitle{
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sourceLinks{
        padding-right: 10px;
    }

}